.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222;
  flex-wrap: wrap;
  .element {
    padding: 1rem;
    width: 18rem;
    height: 5rem;
    font-size: 15px;
    display: flex;
    align-items: center;
    & img {
      width: 65%;
      height: 150%;
    }
    &:nth-child(2) {
      justify-content: center;
    }
    &:nth-child(3) {
      flex-direction: column;
      align-items: flex-end;
      p {
        margin-bottom: .3rem;
      }
      
    }
  }
  .topics {
    width: 100%;
    background-color: red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 5px;
    div {
      color: white;
    }
  }
}